:root {
    --heigh-factor: 3px;
    --rest-color: #ddf;
    --now-color: #afa;
    --mark-color: #fdd;
    --color-last-time: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
    background-color: #ddd;
}
h1,
h2 {
    font-weight: bold;
    width: auto;
    text-align: center;
}

main {
    width: auto;
    margin: 0 auto;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    width: auto;
}

.ens {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

.rest {
    background-color: var(--rest-color) !important;
}

.now {
    background-color: var(--now-color) !important;
}


.blank {
    background-color: initial !important;
    border-top: none !important
}

.marked {
    background-color: var(--mark-color) !important;
}

article {
    padding-left: 2px;
    height: calc(var(--rel-height) * var(--heigh-factor));
    width: 10em;
    position: relative;
}

.gc {
    border-right: 1px solid black;
}

article {
    border-bottom: 1px solid black;
}

article:first-of-type {
    border-top: 1px solid black;
}



article:last-child {
    --color-last-time: block;
}

.bottom-right {
    display: var(--color-last-time);
    position: absolute;
    bottom: 2px;
    left: 2p;
}

.time {
    font-size: smaller;
}

p {
    margin: 0;
}